/* CSS Document */
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 80%; }
h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;margin-bottom: 10px;
padding-bottom: 9px;
border-bottom: 1px solid #EEE; line-height: 1em; text-transform: uppercase; }
h1 { font-size: 2em; }
h2, h2.block-title { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
li { list-style-position: inside; }
img, input, video, object, embed, iframe { max-width: 100%; }

ul.primary { clear: both; }

strong { font-weight: bold; }


.group-left, .group-right { width: auto; }
.node .content ul li , #zones-content .node .content li {
  background: url('../images/bullet.png') no-repeat left 4px;
  line-height: 24px;
	list-style-type: none;
	padding-left: 1.5em;
}

.float-left { float: left; margin-right: 10px; }
#page { min-height: 100%; }
#region-content .block h2 { margin-bottom: 10px; }

#section-header {  }
#section-header a { color: #fff; }
#section-header a:hover { color: #fff; }
#section-header-inner { /*background: url("../images/lines-small.png") repeat scroll 50% 0 transparent;*/ }
#section-header-shadow { background: url("../images/header-overlay.png") repeat-x scroll 50% 0 transparent; }

#logo {  }
#site-logo { padding: .75em 0 1em; }
#block-block-13 { padding: .75em 0 1em; }
#logo a {  }

#zone-menu { background: url("../images/nav-overlay3.png") no-repeat scroll 50% 0 transparent; }
#zone-menu-wrapper { background: url("../images/nav-overlay.png") repeat-x scroll 50% 100% #5C5A98; }

#zone-menu-wrapper .sf-menu { line-height: 1;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative; }

		
#zone-menu-wrapper .sf-menu li { background: transparent; float: left;
    margin: 0 -5px 0 0; height: auto;
    list-style: none outside none;
    padding: 0;
    position: relative;  }

#zone-menu-wrapper .sf-menu li a { border: none; }

#zone-menu-wrapper .sf-menu li.active-trail a, #zone-menu-wrapper .sf-menu li a:hover, #zone-menu-wrapper .sf-menu li a.active { 
background: transparent; 
display: block;
    float: none;
    text-decoration: none;
    width: auto; }
	
#zone-menu-wrapper .sf-menu li a { cursor: pointer;
color: #fff;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0 4px 0 0;
    outline: medium none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 100;
    width: auto;
		text-decoration: none;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 3.5em; }

#zone-menu-wrapper .sf-menu li ul {  }
#zone-menu-wrapper .sf-menu li ul li { background: #5C5A98 none; }
#zone-menu-wrapper .sf-menu li ul li a { background: #5C5A98 none; margin-right: 0; border-top: 1px solid #ddd; border-bottom: 1px solid #403F6B; }
#zone-menu-wrapper .sf-menu li ul li.first a { border-top: none; }
#zone-menu-wrapper .sf-menu li ul li.last a { border-bottom: none; }

#region-header-first { margin-bottom: 0; }

#zone-menu .grid-12 { margin-left: 0; margin-right: 0; }

#content-outer-wrapper {  }

#zone-content { background: url("../images/under-shadow.png") no-repeat scroll 50% 0 transparent; padding: 1.5em 0; }
/*#zone-content-wrapper { background: url("../images/content-bg.png") no-repeat scroll 50% 0 transparent; }*/

.sidebar { width: 300px; padding-bottom: 10px; background: url('../images/aside-bottom.png') center bottom no-repeat; }
.sidebar>.block { background: url('../images/aside-bg.png') 0 0 repeat-y; padding: 9px 9px 19px; border: 1px solid #ccc; border-bottom: none; margin-bottom: 0; }
.sidebar, .region-content { padding-top: 0; }

.block-superfish { margin-bottom: 0; }

#section-footer { background: #333; color: #ccc; }

#zone-footer-wrapper a { color: #eee; }

#zone-postscript-wrapper { background: url("../images/postscript-overlay.png") repeat scroll 0 0 transparent; border-bottom: 1px solid #737373; }
		
#zone-postscript-wrapper .block {	padding: 10px 0; }

.field-name-field-image-main { margin-bottom: 10px; }

.view-taxonomies .views-row { margin-bottom: 10px; }

.branch-service .group-left.content, .node.markets .group-left.content, .node.branch-page .group-left.content { width: 620px; }

.branch-service .group-right.aside, .node.markets .group-right.aside, .node.branch-page .group-right.aside { width: 300px; margin-left: 20px; padding-bottom: 10px; background: url('../images/aside-bottom.png') center bottom no-repeat; }
.node.bio .group-left.aside { width: 300px; padding-bottom: 10px; background: url('../images/aside-bottom.png') center bottom no-repeat; }

.branch-service .group-right .group-team, .branch-service .group-right .group-markets , .branch-service .group-right .field-name-contact-us, 
.node.markets .group-right .group-services, .node.markets .group-right .field-name-contact-us, .node.bio .group-left.aside .group-image, 
.node.bio .group-left.aside .group-services, .node.bio .group-left.aside .group-contact, .node.branch-page .group-left.aside .group-team, .node.branch-page .group-left.aside .field-name-contact-us  { background: url('../images/aside-bg.png') 0 0 repeat-y; padding: 9px 9px 19px; border: 1px solid #ccc; border-bottom: none; }
.node.bio .group-left.aside .group-image { padding-bottom: 9px; }

.taxonomy-term .group-left, .taxonomy-term .group-middle, .taxonomy-term .group-right { width: 300px; }
.taxonomy-term .group-right { margin-left: 10px; }
.taxonomy-term .group-left { margin-right: 10px; }
/** Nodes **/
.node-teaser { margin-bottom: 20px; }
.node-teaser .field-name-listing-teaser { text-align: justify; }
.node-teaser .field-name-title { color: #fff; border-bottom: #403f6b 1px solid; margin-bottom: 10px; }
.node-teaser .field-name-title h3 { padding-bottom: 0; border-bottom: 1px #fff solid; margin-bottom: 0; }
.node-teaser .field-name-title a { background: #403f6b; color: #fff; text-decoration: none; display: block; padding: 3px 5px; }
.node-teaser .field-name-title a:hover { background: #5C5A98; }
.node.view-mode-full>.group-right { display: none; }
/** Bios **/
/* Bio listing page */
.view-bios table { border: none; }
.view-bios td { vertical-align: top; }
.view-bios .group-right.embed.content { width: 220px; }

/* Bio page layout */
.node-bio.view-mode-full>.group-left { padding-bottom: 10px; background: url('../images/aside-bottom.png') center bottom no-repeat; }
.node-bio.view-mode-full>.group-left>.field-group-format { background: url('../images/aside-bg.png') center top repeat-y; padding: 9px 9px 19px; border: 1px solid #ccc; border-bottom: none; }
.node-bio .aside .field-name-field-position { font-size: 1.3em; font-weight: bold;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;margin-bottom: 10px;
padding-bottom: 9px;
border-bottom: 1px solid #EEE; }
.node-bio .field-name-body { text-align: justify; }
.field-name-title, .field-name-field-position { font-weight: bold; }

/* Embedded bios */
.bio .group-left.embed.aside { width: 60px; margin-right: 10px; background: none; }
.bio-text { width: 210px; margin-left: 0; }
.bio .group-right.embed.content .field-name-body p { margin-bottom: 0; }
.bio .group-right.embed.content .field-name-node-link { text-align: right; }

/** Blogs **/

/** Listing pages **/
.branch-service.teaser, .blog.view-mode-corporate_teaser, .markets.teaser, .blog.teaser, .article.teaser { margin-bottom: 10px; padding: 10px; }
.branch-service.teaser .group-left, .blog.view-mode-corporate_teaser .group-left, .markets.teaser .group-left, .blog.teaser  .group-left, .article.teaser .group-left { width: 220px; }
.branch-service.teaser .group-right, .blog.view-mode-corporate_teaser .group-right, .markets.teaser .group-right, .blog.teaser  .group-right, .article.teaser .group-right { width: 680px; margin-left: 20px; }
.branch-service.teaser:hover, .blog.view-mode-corporate_teaser:hover, .markets.teaser:hover, .blog.teaser:hover, .article.teaser:hover  { background: url('../images/listing-bg.png') 0 0 repeat-y; border: 1px solid #ccc; padding: 9px; }
.branch-service.teaser .field-name-field-image-main img, .blog.view-mode-corporate_teaser .field-name-field-image-main img, .markets.teaser .field-name-field-image-main img, .blog.teaser  .field-name-field-image-main img, .article.teaser .field-name-field-image-main img { border: 1px #d2eaf5 solid; padding: 4px; }

/** Listing pages with sidebar **/
.node-blog.teaser, .article.teaser { margin-bottom: 10px; padding: 10px; }
.blog.teaser  .group-left, .article.teaser .group-left { width: 220px; }
.blog.teaser  .group-right, .article.teaser .group-right { width: 680px; margin-left: 20px; }
.blog.teaser:hover, .article.teaser:hover  { background: url('../images/listing-bg.png') 0 0 repeat-y; border: 1px solid #ccc; padding: 9px; }
.blog.view-mode-corporate_teaser .field-name-field-image-main img, .article.teaser .field-name-field-image-main img { border: 1px #d2eaf5 solid; padding: 4px; }

.node.webform.full-view .field-name-field-image, .node.webform.full-view .field-name-field-logo-image { width: 50%; float: left; }

a .quote-request-shadow { background: url('../images/quote-shadow.png') center bottom no-repeat; display: block; padding-bottom: 10px; }
a .quote-request { display:block; background: #D2EAF5 url(../images/quote-bg.png) center top repeat-y; border: 1px solid #ccc; text-align: center; font-size: 1.4em; font-weight: bold; padding: 7px; }
a:hover .quote-request { background-color: #b0dbef; border-color: #666; }

.view-taxonomy-terms .field-name-field-name-long { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;margin-bottom: 10px;
padding-bottom: 9px;
border-bottom: 1px solid #EEE; line-height: 1em;font-size: 16px;
margin: 0; font-weight: bold; }


#block-block-13 { display: none; }

.gray-box {
background: url(../images/header-overlay.png) left top repeat-x;
border: 1px solid #DDD;
padding: 1em;
border-radius: 10px;
background-color: transparent;
}

.gray-box h2, .gray-box .field-name-field-name-long { padding-bottom: .5em; margin-bottom: 0 !important; border-bottom-color: #999; text-transform: uppercase; font-size: 16px; }
.gray-box .taxonomy-term-description, .gray-box .content { margin: 0 !important; padding-top: .5em; border-top: 1px solid #fff; }

/* Forms */
fieldset {
	border: 1px solid #ccc;
}
fieldset legend {
font-weight: bold;
font-size: 1.5em;
text-transform: uppercase;
margin-left: 5px;
padding: 0 5px;
}
.fieldset-wrapper {
	padding: 10px 10px 0;
}
fieldset .form-item { margin-top: 0; }

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { background-color: #eee; font-size: 1.2em; }